{% extends 'base.html' %}
{% load static %}

{% block title %}Your Target Health{% endblock %}
{% block meta %}
<title>Your Target Health</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h1>Your Target Health</h1>
    <div class="row">
      <div class="col-md-4 ">
        <h3>ADD NEW TARGET</h3>
        <button class = "btn btn-dark text-white"><a href="{% url 'user_profile:logout_user' %}">Logout</a></button>
        <button class = "btn btn-dark text-white"><a href="{% url 'landingPage:show_landingPage' %}">Home</a></button>
        <button class = "btn btn-dark text-white"><a href="{% url 'user_profile:show_profile' %}">Your Profile</a></button>
        <form id="addTarget"  action="">
          <div class="form-group">
            <input class="form-control" type="text" name="gender" placeholder="Gender" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="weight" min="35" max="100" placeholder="Weight" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="height" min="10" max="200" placeholder="Height" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="age" min="1" max="100" placeholder="Age" required>
          </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-8">
        <h3>Bellow is your Target Health</h3>
        <table id="targetTable" class="table table-striped">
          <tr>
            <th>Created Date</th>
            <th>Gender</th>
            <th>My Weight</th>
            <th>My Height</th>
            <th>My Exercise</th>
            <th>Calories</th>
            <th>Exercises</th>
            <th>Sleep Time</th>
          </tr>
          {% if physicals_info %}
          {% for phy_user in physicals_info %}
          <tr id="phy_user-{{phy_user.id}}">
              <td class="targetDate targetData" name="date">{{phy_user.date}}</td>
              <td class="targetGender targetData" name="gender">{{phy_user.gender}}</td>
              <td class="targetWeight targetData" name="weight">{{phy_user.weight}} kg</td>
              <td class="targetHeight targetData" name="height">{{phy_user.height}} cm</td>
              <td class="targetAge targetData" name="age">{{phy_user.age}} years</td>
              <td class="targetCalories targetData" name="calories">{{phy_user.calories}} cal/day</td>
              <td class="targetWater targetData" name="water">{{phy_user.water}} ml/day</td>
              <td class="targetSleep targetData" name="sleep">{{phy_user.sleep_time}} hours</td>
              <td class="targetExercise targetData" name="exercise">{{phy_user.exercise}} minutes/day</td>
          </tr>
          {% endfor %}
          {% else %}
            No Targets
          {% endif %}
        </table>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script>
// Create Django Ajax Call
$("form#addTarget").submit(function() {
    var dateInput = $('input[name="date"]').val().trim();
    var genderInput = $('input[name="gender"]').val().trim();
    var weightInput = $('input[name="weight"]').val().trim();
    var heightInput = $('input[name="height"]').val().trim();
    var ageInput = $('input[name="age"]').val().trim();

    if (dateInput && genderInput && weightInput && heightInput && ageInput){ 
        // Create Ajax Call
        $.ajax({
            url: '{% url "user_profile/target/create" %}',
            data: {
                'age' : dateInput,
                'gender': genderInput,
                'weight': weightInput,
                'height': heightInput,
                'age' : ageInput,
            },
            dataType: 'json',
            success: function (data) {
                if (data.phy_user) {
                  appendToTargetTable(data.phy_user);
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addTarget').trigger("reset");
    return false;
});
function appendToTargetTable(phy_user) {
  $("#targetTable > tbody:last-child").append(`
        <tr id="phy_user-${phy_user.id}">
            '<td class="targetDate" name="date">${phy_user.date}</td>
            <td class="targetGender" name="gender">${phy_user.gender}</td>
            '<td class="targetWeight" name="weight">${phy_user.weight}</td>
            '<td class="targetHeight" name="height">${phy_user.height}</td>
            '<td class="targetAge" name="age">${phy_user.age}</td>
            '<td class="targetCalories" name="calories">${phy_user.calories}</td>
            '<td class="targetWater" name="water">${phy_user.water}</td>
            '<td class="targetSleep" name="sleep">${phy_user.sleep}</td>
            '<td class="targetExercise" name="exercise">${phy_user.exercise}</td>
        </tr>
    `);
}
</script>
{% endblock javascript %}


